<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <title>App RIOT</title>
</head>
<body>
  <div class="background">

    <div class="panel">
        <img class="img-jinx" src="./imgs/jinx.png">
        <div class="erro">
          <h2>invocador nao encontrado ou sem historico de partidas rankeadas</h2>
          <a href="/">voltar para o inicio</a>
        </div>





    </div>
</div>
</body>
</html>
