<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <title>App RIOT</title>
</head>
<body>
  <div class="background">

    <div class="panel">
        <img class="img-jinx" src="./imgs/jinx.png">
        <h1>nome do invocador</h1>

        <div class="form__group field">
          <form action="/player" method="post">
            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">digite seu nome</label>
          </form>
        </div>


    </div>
</div>
</body>
</html>
