@font-face {
  font-family: game ;
  src: url('../fonts/GameCube.ttf');
}
:root {
  --iron:  #493C3A;
  --bronze: #5C3D37;
  --silver: #8E9FA7;
  --gold: #714B1D;
  --platinum: #358474;
  --diamond: #4769C0;
  --master: #764868;
  --grandmaster: #2B262F;
  --challenger: #B5904C;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: game;

}

.background{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('/imgs/656584.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


}

.panel {
  min-width: 85%;
  min-height: 85%;
  border-radius: 10px;
  border: 5px solid #4399D4;
  background-color: #162137b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel h1{
  letter-spacing: -1px;
  font-size: 3rem;
  color: #fff;
  padding: 10px 0px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;

}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(112, 109, 109);
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(112, 109, 109);
}

.form__field:focus .form_label {

    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: wheat;
    font-weight: 700;
}

.form__field:focus{
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #4399D4, #fff);
  border-image-slice: 1;
}


.form__field:required .form__field:invalid{
  box-shadow: none;
}

.img-jinx {
  width: 22%;


}
